.main {
  padding-top: 1.5rem;
}
.sub {
  //   padding-left: 7rem;
  padding-bottom: 1.5rem;
}
.approval {
  justify-content: flex-end;
}
.selectt {
  display: flex;
  justify-content: space-evenly;
}
// .sub1 {
//   padding-left: 4.6rem;
// }
