.project-settings {
  .setting-card {
    .inner-col {
      // background-color: var(--color-secondary1) !important;

      .icon-background {
        background-color: #fdcd05;
      }
      .text-colour {
        color: black;
      }
      .text-colour:hover {
        color: #fdcd05;
      }
      position: relative;
      & div:last-child {
        position: absolute !important;
        bottom: 0;
        right: 0;
        i {
          font-size: 40px;
          //   background-color: brown;
          color: rgb(170, 169, 169);
          &:hover {
            color: #fdcd05;
          }
        }
        // background-color: blueviolet;
      }
    }
  }
}
