.task-form{
    .editor{
        min-height: 300px;
        overflow-y: scroll !important;
    }
    .inputWdth{
        width: 100px;
        height: 30px;
    }
    .spanWdth{
        width: 15px;
    }
    .inputFont{
        font-size: large;
        font-weight: 400;
    }
}