.main {
  padding-top: 1.5rem;
}
.sub {
  padding-left: 7rem;
}
.sub1 {
  padding-left: 4.5rem;
}
.sub2 {
  padding-left: 6.5rem;
}
.sub3 {
  padding-left: 5.6rem;
}
.my-border{
  // border-top: 1px solid;
  border-left-width: 0;
  border-right-width: 0;
  padding-top: 1.5rem;
  padding-bottom: 0.5rem;
  margin-bottom: 15px;
}