.comments {
  .comment-whole {
    text-align: right;
  }
  .comment-section {
    margin-left: 10px;
    .comment-name {
      font-size: 14px;
      font-weight: bold;
    }
    .comment {
      font-size: 14px;
      margin: 0;
      padding-top: 0;
    }
  }
  .input-box {
    width: 100%;
    border: solid 1px;
    border-radius: 10px;
    padding-left: 10px;
    padding-right: 10px;
    input {
      width: 100%;
      border: none;
    }
    i {
      cursor: pointer;
    }
  }
}
