.header {
  // background: var(--color-secondary1) !important;
  color: var(--color-white) !important;
  nav {
    margin: 0;
  }
  .opener {
    // background: var(--color-secondary1) !important;
    background-image: linear-gradient(
      to top left,
      var(--color-secondary2),
      var(--color-secondary1)
    );
    color: var(--color-white) !important;
  }
  span {
    color: var(--color-white) !important;
  }
  .notify-icon {
    i {
      color: white !important;
    }
  }
  i {
    color: rgb(170, 169, 169) !important;
  }
}
