.header {
  background: var(--color-secondary1) !important;
  color: var(--color-white) !important;
  nav {
    margin: 0;
  }
  .opener {
    background: var(--color-secondary1) !important;
    color: var(--color-white) !important;
  }
}
