
.app-main{
  min-height: inherit;
  #wrapper{
    min-height: inherit;
  }
.pathname {
  margin-top: 80px;
}
.icon-back {
  font-size: 35px;
  cursor: pointer;
}
.go-back-text {
  font-size: 18px;
  font-weight: bolder;
  border: 1px;
}
}
