.sidebar {
  // background-color: var(--color-secondary1) !important;
  background-image: linear-gradient(
    to top left,
    var(--color-secondary2),
    var(--color-secondary1)
  );
  // color: var(--color-white);
  .leftbar {
    background-color: transparent !important;
    // color: var(--color-white);
  }
  .options {
    background-color: transparent !important;
    // color: var(--color-white);
    ul {
      li {
        background-color: transparent !important;
        color: var(--color-white);
        a {
          background-color: transparent !important;
          span {
            color: var(--color-white);
          }
        }
      }
    }
  }
}
