.client-form {
  .cardd {
    display: flex;
    justify-content: center;
  }
  .iconSize {
    font-size: xxx-large;
  }
  .border-b {
    display: flex;
    justify-content: center;
    border-bottom: solid 1px !important;
  }
}
