.userD {
  .gap {
    padding-top: 2rem;
  }
  .labell {
    // font-family: "Gill Sans MT" !important;
    font-size: large !important;
    font-weight: 600 !important;
    //  'Gill Sans MT', 'Trebuchet MS', sans-serif
  }
  .valuee {
    // font-family: "Trebuchet MS" !important;
    font-size: larger !important;
    // font-weight: 600;
    padding-left: 1rem;
  }
}
