:root {
  --color-primary: #f69a1d;
  --color-primary2: #fdcd05;
  --color-secondary1: #121a37;
  --color-secondary2: #226194;
  --color-white: #ffffff;
  --color-danger: #ff0000;
}
.row-red {
  background-color: var(--color-danger) !important;
}
.my-primary-button {
  background: var(--color-primary) !important;
  color: var(--color-white);
}

.my-seconday-button {
  background: var(--color-secondary2) !important;
  color: var(--color-white);
}

.my-danger-button {
  background: var(--color-danger) !important;
  color: var(--color-white);
}
.my-primary-icon {
  color: var(--color-primary) !important;
}

.my-seconday-icon {
  color: var(--color-secondary2) !important;
}

.my-danger-icon {
  color: var(--color-danger) !important;
}

.editorClass {
  overflow-y: scroll !important;
}

#err {
  color: chocolate;
}
input:focus {
  border-color: var(--color-secondary2) !important;
}

.form-range {
  min-width: 100%;
}

.rangeslider__fill {
  background-color: var(--color-primary) !important;
}

.button-menu-mobile {
  background-color: transparent;
  color: white;
}
.navbar-custom {
  padding-left: 0;
}

.page-content-wrapper {
  margin: 0 -10px;
  padding-top: 15px !important;
}
.icon-add {
  cursor: pointer;
  &:hover {
    color: var(--color-primary);
  }
}

.content-page {
  min-height: inherit;
}
.zIndex {
  z-index: 15;
}
.sandwhich {
  display: block;
  color: red;
}
.sandwhich2 {
  display: none;
}
.heJwJj {
  background-color: var(--color-secondary2);
  height: 345px;
}
.gKyapV {
  background-color: var(--color-secondary2);
}
.dsKVpZ {
  color: var(--color-secondary2);
}
.zIndex-1 {
  z-index: 2;
}
.css-15k3avv {
  z-index: 10 !important;
}

.display-form-field {
  display: block;
}

.hide-form-field {
  display: none;
}
